<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <title>Tech Blog</title>
  </head>

  <body>
    <header>
      <nav class="nav justify-content-center nav-pills bg-primary">
        <div class="nav-item">
        <a href="/" class="text-dark">Homepage</a>
        {{#if loggedIn}}
        <a href="/dashboard" class="text-dark">Dashboard</a>
        <button id="logout" class="text-dark border-0 btn btn-link ">Logout</button>
        {{else}}
        <a href="/login" class="text-dark">Login</a>
        {{/if}}
        </div>
      </nav>
      <div class="container-fluid bg-primary">
      <h1 class="text-center">Tech Blog</h1> 
      </div>
    </header>

    <main class="container-fluid text-center">
     {{{body}}}
    </main>

    <footer>
      <p class="text-center">
        Copyright &copy; 2018-<script>document.write(new Date().getFullYear())</script>
        JenMLucas. All Rights Reserved</p>
    </footer>

{{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
  {{/if}}
  </body>
</html>