<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input class="border-primary" name="post-title" type="text" value="{{post.title}}" />
      <div>
        <input class="border-primary mt-2" name="post-text" type="text" value="{{post.post_text}} " />
      </div>
    </div>
    <button class="rounded border-primary mt-2" type="submit">Save post</button>
    <button class="rounded border-primary" type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
