<ol class="post-list">
  {{#each posts}}
  <li>
    <article class="post">
      <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
       
      </div>
      <div class="meta">
        
        <p>{{comments.length}} comment(s)</p>
      </div>
    </article>
  </li>
  {{/each}}
</ol>