<div class="container">
<div class="col d-flex flex-wrap justify-content-center">
      {{#each posts as |post|}}
  <div class="card border-primary mt-3 col-3" style="width: 18rem;">
    {{> post-info post}}
    {{user.username}} on {{format_date created_at}} 
  </div>
      {{/each}}
</div>
</div>





