
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea class="border-primary" name="comment-body"></textarea>
  </div>
  <div>
    <button class="rounded border-primary" type="submit">add comment</button>
  </div>
</form>
{{/if}}

<div class="container">
  <div class="col d-flex flex-wrap justify-content-center">
    <div class="card border-primary mt-3 col-3" style="width: 18rem;">
    {{> post-info post}}
    </div>
  </div>
</div>
    {{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}